<footer class="footer site-content">
  <h1 class="visuallyhidden">Footer</h1>
	<div class="footer--inner">
    <!--<p class="footer--label">-->
      <!--Further information:-->
      <!--<a href="/introduction/license/">License</a> --->
      <!--<a href="/feed/rss.xml">Feed</a> --->
      <!--<a href="https://github.com/Access4all/adg/">GitHub</a> --->
      <!--<a href="https://www.facebook.com/AccessibilityDeveloperGuide">Facebook</a> --->
      <!--<a href="https://twitter.com/A11yDevGuide">Twitter</a>-->
    <!--</p>-->
	</div>
</footer>
